.gridContainer {
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    max-width: 500px;
    max-height: 500px;
    min-width: 500px;
    min-height: 500px;
    
}

.gridItem {
    aspect-ratio: 1;
}

.gridItemBorderColor {
    border: 1px solid gray;
}

.mainContent {
    display: flex;
}

.gridlinesButtonActive {
    background-color: blue;
}